youtube-ai-factory-workflow.json
{
  "id": "yt-ai-factory-main",
  "name": "YouTube AI Factory (Endgame System - True AI Edition)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 2,
              "unit": "hours"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "name": "Fetch Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 300]
    },
    {
      "parameters": {
        "functionCode": "const topics = [\n  'AI replacing jobs in India 2025',\n  'Best AI tools to earn money online',\n  'Future of AI startups in India'\n];\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic: `How ${topic} is changing the future of AI and jobs` } }];"
      },
      "name": "Pick Topic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.NVIDIA_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"meta/llama-3.1-70b-instruct\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"You are a viral YouTube scriptwriter. Output ONLY valid JSON with keys: title (string, viral YouTube title using shock+specific+timeframe), script (string, 60-second script starting with Shock->Question->Promise hook, with curiosity loops, short sentences), thumbText (string, 3-word max high-shock thumbnail text).\"},\n    {\"role\": \"user\", \"content\": \"Topic: {{$json.topic}}\"}\n  ],\n  \"response_format\": {\"type\": \"json_object\"}\n}",
        "options": {}
      },
      "name": "NVIDIA Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "functionCode": "const raw = items[0].json.choices[0].message.content;\nconst parsed = JSON.parse(raw);\nreturn [{ json: {\n  title: parsed.title || 'This AI Trend Will Change Everything (2025)',\n  script: parsed.script || 'AI is changing everything...',\n  thumbText: parsed.thumbText || 'JOB LOSS'\n}}];"
      },
      "name": "Parse Script",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepgram.com/v1/speak?model=aura-asteria-en",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{$env.DEEPGRAM_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"{{$json.script}}\"}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Deepgram Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: {\n  title: items[0].json.title,\n  script: items[0].json.script,\n  thumbText: items[0].json.thumbText,\n  description: items[0].json.script + '\\n\\n🔥 Top AI tools to make money → link in description\\n\\n#AI #Jobs #Future #Money #Tech',\n  note: 'Voice audio generated. Video creation requires ffmpeg locally — run: ffmpeg -loop 1 -i thumbnail.jpg -i audio.mp3 -shortest -c:v libx264 -pix_fmt yuv420p output.mp4'\n}}];"
      },
      "name": "Prepare Metadata",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youtubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ snippet: { title: $json.title, description: $json.description, tags: ['AI', 'Jobs', 'Future', 'Money', 'Tech'], categoryId: '28' }, status: { privacyStatus: 'public' } }) }}",
        "options": {}
      },
      "name": "YouTube API Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "Cron": {
      "main": [[{ "node": "Fetch Trends", "type": "main", "index": 0 }]]
    },
    "Fetch Trends": {
      "main": [[{ "node": "Pick Topic", "type": "main", "index": 0 }]]
    },
    "Pick Topic": {
      "main": [[{ "node": "NVIDIA Generate Script", "type": "main", "index": 0 }]]
    },
    "NVIDIA Generate Script": {
      "main": [[{ "node": "Parse Script", "type": "main", "index": 0 }]]
    },
    "Parse Script": {
      "main": [[{ "node": "Deepgram Voice", "type": "main", "index": 0 }]]
    },
    "Deepgram Voice": {
      "main": [[{ "node": "Prepare Metadata", "type": "main", "index": 0 }]]
    },
    "Prepare Metadata": {
      "main": [[{ "node": "YouTube API Upload", "type": "main", "index": 0 }]]
    }
  }
}
