youtube-ai-factory-workflow.json
{
  "id": "yt-ai-factory-main",
  "name": "YouTube AI Factory (Endgame System - True AI Edition)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 2,
              "unit": "hours"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "name": "Fetch Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 300]
    },
    {
      "parameters": {
        "functionCode": "const topics = [\n  'AI replacing jobs in India 2025',\n  'Best AI tools to earn money online',\n  'Future of AI startups in India'\n];\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic: `How ${topic} is changing the future of AI and jobs` } }];"
      },
      "name": "Pick Topic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.NVIDIA_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"meta/llama-3.1-70b-instruct\", \"messages\": [{\"role\": \"system\", \"content\": \"You are a viral YouTube scriptwriter. Output ONLY valid JSON with keys: title (string, viral YouTube title using shock+specific+timeframe), script (string, 60-second script starting with Shock->Question->Promise hook, with curiosity loops, short sentences), thumbText (string, 3-word max high-shock thumbnail text), keyword (string, one short keyword describing the video topic like AI, jobs, money, future).\"}, {\"role\": \"user\", \"content\": \"Topic: {{$json.topic}}\"}], \"response_format\": {\"type\": \"json_object\"}}",
        "options": {}
      },
      "name": "NVIDIA Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "functionCode": "const raw = items[0].json.choices[0].message.content;\nconst parsed = JSON.parse(raw);\nreturn [{ json: {\n  title: parsed.title || 'This AI Trend Will Change Everything (2025)',\n  script: parsed.script || 'AI is changing everything...',\n  thumbText: parsed.thumbText || 'JOB LOSS',\n  keyword: parsed.keyword || 'artificial intelligence'\n}}];"
      },
      "name": "Parse Script",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepgram.com/v1/speak?model=aura-asteria-en",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{$env.DEEPGRAM_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"{{$json.script}}\"}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Deepgram Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "functionCode": "const meta = items[0].json;\nconst keyword = meta.keyword || 'artificial intelligence';\nreturn [{ json: {\n  title: meta.title,\n  script: meta.script,\n  thumbText: meta.thumbText,\n  keyword: keyword,\n  description: meta.script + '\\n\\n#AI #Jobs #Future #Money #Tech'\n}}];"
      },
      "name": "Prepare Metadata",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/videos/search?query={{$json.keyword}}&per_page=1&orientation=portrait",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.PEXELS_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Pexels Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "functionCode": "const pexelsData = items[0].json;\nconst videos = pexelsData.videos;\nif (!videos || videos.length === 0) {\n  throw new Error('No Pexels videos found for this topic');\n}\nconst video = videos[0];\nconst videoFiles = video.video_files;\nconst mp4File = videoFiles.find(f => f.file_type === 'video/mp4' && f.quality === 'sd') || videoFiles[0];\nreturn [{ json: {\n  videoUrl: mp4File.link,\n  title: items[0].json.title,\n  description: items[0].json.description,\n  keyword: items[0].json.keyword\n}}];"
      },
      "name": "Parse Video URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "url": "={{$json.videoUrl}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "fileName": "/tmp/video.mp4",
        "dataPropertyName": "data"
      },
      "name": "Write Video to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2100, 200]
    },
    {
      "parameters": {
        "fileName": "/tmp/audio.mp3",
        "dataPropertyName": "data"
      },
      "name": "Write Audio to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2100, 450]
    },
    {
      "parameters": {
        "mode": "wait"
      },
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [2350, 300]
    },
    {
      "parameters": {
        "jsCode": "const execSync = require('child_process').execSync;\ntry {\n  execSync('ffmpeg -y -i /tmp/video.mp4 -i /tmp/audio.mp3 -c:v copy -c:a aac -map 0:v:0 -map 1:a:0 -shortest /tmp/output.mp4');\n  return [{ json: { success: true } }];\n} catch (error) {\n  throw new Error(`FFmpeg error: ${error.message}`);\n}"
      },
      "name": "FFmpeg Merge (Fixed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2550, 300]
    },
    {
      "parameters": {
        "filePath": "/tmp/output.mp4",
        "dataPropertyName": "data"
      },
      "name": "Read Output File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [2750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youtubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ snippet: { title: $('Prepare Metadata').item.json.title, description: $('Prepare Metadata').item.json.description, tags: ['AI', 'Jobs', 'Future', 'Money', 'Tech'], categoryId: '28' }, status: { privacyStatus: 'public' } }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "name": "Get Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2950, 300]
    },
    {
      "parameters": {
        "functionCode": "const uploadUrl = items[0].json.headers.location;\nif (!uploadUrl) throw new Error('No upload URL returned from YouTube');\nreturn [{ json: { uploadUrl } }];"
      },
      "name": "Extract Upload URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [3150, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$json.uploadUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "name": "Upload Video to YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3350, 300]
    }
  ],
  "connections": {
    "Cron": {
      "main": [[{ "node": "Fetch Trends", "type": "main", "index": 0 }]]
    },
    "Fetch Trends": {
      "main": [[{ "node": "Pick Topic", "type": "main", "index": 0 }]]
    },
    "Pick Topic": {
      "main": [[{ "node": "NVIDIA Generate Script", "type": "main", "index": 0 }]]
    },
    "NVIDIA Generate Script": {
      "main": [[{ "node": "Parse Script", "type": "main", "index": 0 }]]
    },
    "Parse Script": {
      "main": [[{ "node": "Deepgram Voice", "type": "main", "index": 0 }]]
    },
    "Deepgram Voice": {
      "main": [
        [{ "node": "Prepare Metadata", "type": "main", "index": 0 }],
        [{ "node": "Write Audio to Disk", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Metadata": {
      "main": [[{ "node": "Fetch Pexels Video", "type": "main", "index": 0 }]]
    },
    "Fetch Pexels Video": {
      "main": [[{ "node": "Parse Video URL", "type": "main", "index": 0 }]]
    },
    "Parse Video URL": {
      "main": [[{ "node": "Download Video", "type": "main", "index": 0 }]]
    },
    "Download Video": {
      "main": [[{ "node": "Write Video to Disk", "type": "main", "index": 0 }]]
    },
    "Write Video to Disk": {
      "main": [[{ "node": "Wait for Both", "type": "main", "index": 0 }]]
    },
    "Write Audio to Disk": {
      "main": [[{ "node": "Wait for Both", "type": "main", "index": 1 }]]
    },
    "Wait for Both": {
      "main": [[{ "node": "FFmpeg Merge (Fixed)", "type": "main", "index": 0 }]]
    },
    "FFmpeg Merge (Fixed)": {
      "main": [[{ "node": "Read Output File", "type": "main", "index": 0 }]]
    },
    "Read Output File": {
      "main": [[{ "node": "Get Upload URL", "type": "main", "index": 0 }]]
    },
    "Get Upload URL": {
      "main": [[{ "node": "Extract Upload URL", "type": "main", "index": 0 }]]
    },
    "Extract Upload URL": {
      "main": [[{ "node": "Upload Video to YouTube", "type": "main", "index": 0 }]]
    }
  }
}
